################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/HackerNewsClient/bin/Debug/net8.0
/HackerNewsClient/obj/Debug/net8.0
/HackerNewsClient/obj
